// sass --watch master.scss:master.css --style compressed
$main-color: #000;
$text-color: rebeccapurple;

body {
	background-image: url('./assets/paperbackground.jpg');
}
@mixin bodyPartShape($width, $height, $position, $top, $left) {
	width: $width;
	height: $height;
	position: $position;
	top: $top;
	left: $left;
}

%buttons-styles {
	background: $text-color;
	padding: 1rem;
	border-radius: 1rem;
	color: white;
	font-size: 1.5rem;
}
.game-status,
.game-features{
	display: none;
}
.play__button {
	@extend %buttons-styles;
}

.buttons__letters {
	@extend %buttons-styles;
}

.buttons__new-word {
	@extend %buttons-styles;
}

.buttons__hint {
	@extend %buttons-styles;
}

.used {
	pointer-events: none;
	background-color: red;
}
.game-header__title{
	text-align: center;
	color: $text-color;
}
.game-intro{
	text-align: center;
	.game-intro__text{
		font-size: 1.5rem;
		color: $text-color;
	}
}

.hangman {
	width: 250px;
	height: 250px;
	position: relative;
	left: 10%;
}

.hangman__bodyPart {
	display: none;
}

.hangman__hanger {
	width: 150px;
	height: 200px;
	border: 10px solid $main-color;
	border-right: none;
	position: absolute;
}

.hangman__hanger:after {
	content: "";
	width: 10px;
	height: 30px;
	background-color: $main-color;
	position: absolute;
	right: 0;
}

.hangman__head {
	@include bodyPartShape(35px, 35px, absolute, 39px, 132px);
	border: 5px solid $main-color;
	border-radius: 100%;
}

.hangman__body {
	@include bodyPartShape(5px, 70px, absolute, 80px, 152px);
	background-color: $main-color;
}

.hangman__leg1 {
	@include bodyPartShape(5px, 50px, absolute, 140px, 140px);
	background-color: $main-color;
	transform: rotate(30deg);
}

.hangman__leg2 {
	@include bodyPartShape(5px, 50px, absolute, 140px, 165px);
	background-color: $main-color;
	transform: rotate(-30deg);
}

.hangman__hand1 {
	@include bodyPartShape(50px, 5px, absolute, 110px, 155px);
	background-color: $main-color;
}

.hangman__hand2 {
	@include bodyPartShape(50px, 5px, absolute, 110px, 110px);
	background-color: $main-color;
}
